<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/write-tweet.css" />
    <link rel="stylesheet" href="css/tweet.css" />
    <link rel="stylesheet" href="css/aside.css" />
    <script src="js/tweet.js" defer></script>
    <script src="js/write-tweet.js" defer></script>
  </head>
  <body>
    <main class="main">
      <%- include("./includes/navbar.ejs") %>

      <div class="home">
        <header class="section-header">
          <h2 class="section-header__heading">Home</h2>
        </header>

        <%- include("includes/write-tweet.ejs") %>

        <section class="tweet-container">
          <% for(let tweet of tweets) { %> <%- include("includes/tweet.ejs", {
          tweet }) %> <% } %>
        </section>
      </div>

      <%- include("includes/aside.ejs") %>
    </main>
  </body>
</html>
